extends layout

block content
	if (!articleID)
		form(name="add" action="/apis/add" method="post")
			h1 #{title}
			div
				p
					span Writer: #{username}
				p
					textarea(cols="50" rows="25" style="resize: none" name="Content") #{article}
				div
					input(type="submit" name="submit" value="Save" style="margin-right:10px")
					input(type="button" name="goback" value="Cancel" onclick="window.location='/'")
	else
		form(name="add" action="/apis/modify" method="post")
			input(type="hidden" name="articleID" value=articleID)
			h1 #{title}
			div
				p
					span Writer: #{username}
				p
					textarea(cols="50" rows="25" style="resize: none" name="Content") #{article}
				div
					input(type="submit" name="submit" value="Save" style="margin-right:10px")
					input(type="button" name="goback" value="Cancel" onclick="window.location='/'")